.bla{
    background-color: aqua;
}
.ble{
    background-color: blueviolet;
}
.bli{
    background-color: brown;
}

.div1{
    height: 100px;
    background-color: crimson;
}

.div2{
    height: 100px;
    background-color: aqua;
}